<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments.html::cabecera"></head>

<body>
    <h1>Editar dron</h1>
    <nav th:replace="fragments.html::indice"></nav>
    <form method="post" action="#" th:action="@{/dron/edit/submit}" th:object="${dronForm}">
        Categoría:
            <select class="form-select"  name="dron" th:field="*{dron}">
                <option th:each="dron:${listaDrones}" th:value="${dron.id}">?
                </option>
            </select>
        <label>Id: <input type="text" id="id" th:field="*{id}" /> </label><br />
        <label>Latitud: <input type="number" id="lat" th:field="*{lat}" /></label><br />
        <label>Longitud: <input type="number" id="lng" th:field="*{lng}" /></label><br />
        <label>Activo:<input type="checkbox" id="Activo" th:field="*{Activo}"></label><br />
        <label>Trabajo: <input type="text" id="trabajo" th:field="*{trabajo}" /></label><br />
        <input type="submit" value="Enviar" />
    </form>
    <a href="/">Inicio</a><br />

</body>

</html>